# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json
form.htm

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
scripts/
scripts/html/
scripts/commands/
coverage/
docs/
python/
force-app/main/default/classes/Log*.cls
force-app/main/default/classes/Log*.cls-meta.xml
force-app/main/default/classes/ILog*.cls
force-app/main/default/classes/ILog*.cls-meta.xml
force-app/main/default/classes/IContext*.cls
force-app/main/default/classes/IContext*.cls-meta.xml
force-app/main/default/classes/AsyncLogProcessor.cls
force-app/main/default/classes/AsyncLogProcessor.cls-meta.xml
force-app/main/default/classes/BufferCleanupBatch.cls
force-app/main/default/classes/BufferCleanupBatch.cls-meta.xml
force-app/main/default/classes/DatabasePersistenceStrategy.cls
force-app/main/default/classes/DatabasePersistenceStrategy.cls-meta.xml

force-app/main/default/classes/SalesforceKeyGenerator.cls
force-app/main/default/classes/SalesforceKeyGenerator.cls-meta.xml

force-app/main/default/classes/StripePaymentService.cls
force-app/main/default/classes/StripePaymentService.cls-meta.xml

force-app/main/default/classes/StripeReturnHandlerController.cls
force-app/main/default/classes/StripeReturnHandlerController.cls-meta.xml

force-app/main/default/lwc/stripePayment


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/
